@charset "UTF-8";
/* CSS Document */

body {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color:#222222;
	background-image: url("giphy.gif");

}
#wrapper {
	width:960px;
	margin:0 auto;
	border-bottom:5px solid;
	border-bottom-color:#CB8AC6;
	
	
}
.weekly {
	width:300px;
	float:left;
	margin-right:30px;
}

#project {
	width:300px;
	float:left;
}
h1, h2, h3 {
	text-align:center;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}
h1 {
	font-size:60px;
	margin-bottom:-10px;
}
h2 {
	font-size:15px;
	margin-bottom:-18px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
h3 {
	font-size:15px;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif"
}
h4 {
	font-size:30px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	margin-bottom:-5px;
}
a:link {
	color:#222222;
	text-decoration:none;
}
a:visited {
	color:#5B5A5A;
}
a:hover {
	color:#222222;
	text-decoration:underline;
}
a:active {
	color:#E09FD9;
}
dt {
	font-weight:bold;
}

a:link{
	text-decoration: none;
	color: #DB7274
}
a:visited{
	color: #000DC2
}
a:hover{
	background:#5862BC;
	text-decoration::underline;
	
		
}
a:active{
	color:#EE1122;
	background:none; 
}