@charset "utf-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#wrapper{
	width:1022px;
	background-image: url("../burgerhome.png");
		height:1023px;
	margin: 0 auto;
}
#nav{
	width:1024px;
}
#nav li{
	display:inline;
	float:left;
	margin-left:20px;
	color:white;
	padding-left: 110px;
	font-size: 20px;
	
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

#footer{
	margin-top:936px;
	float:left;
	font-size: 16px;
	color: white;
	
}

#nav{
	padding-top: 40px;
	
}

#name{
	float:left;
	margin-left: 24px;
	

}
#name h4{
	font-size: 16px;
}

#two{
	float:left;
	margin-left: 97px;
}
#two h4{
	font-size: 16px;
}
#three{
	float:left;
	margin-left: 160px;
}
#three h4{
	font-size: 16px;
}
#wrapper2{
	width:1022px;
	margin:0 auto;
}
#nav2{
	background-image:url("../burgerpics.png");
	width:668px;
	height:279px;
}

























